<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Sakuli - Testing and Monitoring-Tool for Websites and common UIs.
  ~
  ~ Copyright 2013 - 2014 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>

    <!-- initial log config file BEFORE the startup of the spring context-->
    <!-- on startup the class LoggerInitializer will refresh the logging config with the file 'sakuli-log-config.xml'-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>${sakuli.log.pattern:-%-5level %d{YYYY-MM-dd HH:mm:ss.SSS} [%thread]  %logger{36} - %msg%n}</pattern>-->
            <pattern>${sakuli.log.pattern:-%-5level [%d{YYYY-MM-dd HH:mm:ss.SSS}] - %msg%n}</pattern>
        </encoder>
    </appender>
    <logger name="org.sakuli" level="${log-level-sakuli:-INFO}"/>
    <logger name="org.sikuli" level="${log-level-sikuli:-WARN}"/>
    <logger name="net.sf.sahi" level="${log-level-sahi:-WARN}"/>
    <logger name="org.springframework" level="${log-level-spring:-WARN}"/>
    <logger name="uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4J" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
    <root level="${log-level-root:-INFO}">
        <appender-ref ref="stdout"/>
    </root>
</configuration>