define service {
  service_description            example_xfce
  host_name                      sakuli_client
  use                            generic-service,srv-pnp
  active_checks_enabled          0
  check_command                  check_dummy!3!'Did not receive any Sakuli result within 3 minutes.'
  check_freshness                1
  freshness_threshold            1800000
  passive_checks_enabled         1
}

define host {
  host_name                      sakuli_client
  alias                          Ubuntu Sakuli
  address                        127.0.0.1
  use                            generic-host
}
# check_command for Sakuli
# --name = Suite ID
# --name2 = number of seconds the last result is allowed to be old
define command {
  command_name                   check_sakuli
  command_line                   $USER1$/check_mysql_health \
    --hostname=$USER16$ \
    --database=$USER10$ \
    --username=$USER11$ \
    --password=$USER12$ \
    --mode=my-sakuli-suite \
    --name='$ARG1$' \
    --name2=$ARG2$ \
    --report=html \
    --port=$USER13$ \
    --with-mymodules-dyn-dir=$USER15$
}

define command {
  command_name  check_dummy
  command_line  $USER1$/check_dummy $ARG1$ $ARG2$
}
